**
!.gitignore
!author

!Makefile
!libft.h
!src/
!src/ft_*.c

!eval_tests
!eval_tests/*.c.test
!eval_tests/*.h.test
!eval_tests/Makefile
!eval_tests/patches/
!eval_tests/patches/*/*.patch.*
!eval_tests/unit-tests
!eval_tests/unit-tests/*
